
body {
  margin:0;
  font-family: roboto;
  color: #212429
}
.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 0;
}
header {
  padding: 10px 40px;
  background: #E8E4D7;
  align-items: center;
}
header h1 {
  grid-column: span 6;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.03rem;
}
header nav{
  grid-column: span 6;
  justify-self: end;
}
header nav a{
  color: #333;
  margin-left: 40px;
  text-decoration: none;
}
    
/* Navigation */
nav a:hover{
  color:#D91E41;
  }
nav a:active {
  color: #212429;
   }
.heroImg {
  background-color: #D91E41;
  padding: 100px 15px;
}
.content {
    max-width: 300px;
    margin: 0 auto;
    padding: 100px;
    background-color: #FFFFFF;
    text-align: center;
}
button {
    padding: 15px;
    background-color: #0c0c0c;
    color: rgb(245, 236, 236);
    font-size: 15px;
    border-radius: 6px;
}
.footer {
    background-color: #373738;
    padding: 10px 40px;
    font-size: 20px;
    line-height: 2 rem;
    color: white;
}
footer p{
  font-size: 12px;
}
footer a:hover{
      color:#EE4824;
}   
footer a:active {
      color:#EE4824;  
}

.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}
/* My Work */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #EEE2DC;
} 
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px;
    grid-template-areas: 
    "imgProfit textProfit"
    "imgSolvent textSolvent"
}
.workGrid img {
    width: 100;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
.imgProfit {
    grid-area: imgProfit;
  }
.imgSolvent {
    grid-area: imgSolvent;
  }
.imgProfit, .imgSolvent, .textProfit, .textSolvent{
    padding: 80px;
}
.textProfit {
    grid-area: textProfit;
}
.textSolvent {
    grid-area: textSolvent;
}